*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
*:focus {
    outline-width: 2px;
    outline-offset: 1px;
    outline-color: black;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}

.wrapper {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.middle-home {
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.middle-home h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.middle-home h3{
    color:  #fff;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;    
    padding-bottom: 10px;
}

.middle-image img {
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.middle-line-container {
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.middle-line-container .card img {
    width: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.middle-line-container .card-container h4{
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media screen and (min-width:992px) {
    .middle-line-container {
        background: #1488CC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .middle-line-container .card img {
        /* width: 600px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
    }
    .middle-line-container .card-container h4{
        color: white;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .middle-home h1 {
        font-size: 120px;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        background: url(../Images/360_F_486235005_LqvcbsyUmbFyZz8PECPJXBZNXtxNCxOu.jpg);
        -webkit-background-clip: text;
        background-position:  0 0;
        animation: back 20s linear infinite;
    }
    @keyframes back {
        100% {
            background-position:  2000px 0;
        }
    }
}